/** common */
ul{
    list-style: none;
    padding: 0;
}

input{
    outline: none;
}

.cp{
   cursor: pointer; 
}

/** layout */
.flex{
    display: flex;
}
.jcsb{
    display: flex;
    justify-content: space-between;
}
.jcc{
    display: flex;
    justify-content: center;
    align-items: center;
}